<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pre_UAS_KASIR.My.MySettings.Kasir_SupermarketConnectionString"
            connectionString="Data Source=laptop-rsmaqrtt;Initial Catalog=Kasir_Supermarket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>